body {
    font-family: "Lucida Console";
    background-color: beige;
    color: red;
}
h1 { 
    color: white;
    background-color: black;
    font-family: Helvetica;
    color: red;
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
}

img{
    border-radius: 8px;
    width: 1000px;
    height: 600px;
}

img{
    border-radius: 8px;
    width: 1000px;
    height: 600px;
}

.mario {
    width: 10%;
    height: auto;
}

.meme {
    width: 50%;
    height: auto;
<<<<<<< HEAD
=======
}
.smile
{
    width: 150px;
    height: 150px;
    border-radius: 55%;
    animation: move 2s infinite;
}

@-webkit-keyframes "move"
{
    0%
    {
        transform: rotate(60deg);
    }

    33%
    {
        transform: rotate(-60deg);
    }
    
    67%
    {
        transform: rotate(60deg);
    }
>>>>>>> 0815633588e073c5f8b822c2a52c01a656b1c38a
}