<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />
    </head>
    <body>
        <h1>CS490 HW7</h1>
        <form method="post" action="/">
            <input type="text" name="student">
            <button type="submit" name="student_btn">Submit</button>
        </form>
        {% for student in student_lst %}
            <p>{{student}}  your name in reverse is {{reverseName}}</p>
        {% endfor %}
        <p>In our class, so far we have completed Milestone 1!</p>
        <h1>The superbowl was boring this year!</h1>
        <p>Section: 004</p>
        <img src= "https://eng-stage.stanford.edu/sites/default/files/styles/full_width_banner_tall/public/chalkboard_web.jpg?itok=1NcgB0xq"/>
        <p><b>Random number between 0 and 1000:</b> {{ random_number }}</p>
        <a href="https://www.w3schools.com/html/html_basic.asp">click here to learn some HTML</a>
        
        <h2><img class="mario" src= "https://i.redd.it/dkrvx5rcp7g61.gif"/><u>Memes and Things Below</u><img class="mario" src= "https://i.redd.it/dkrvx5rcp7g61.gif"/></h2>
        <p><img class="meme" src = "https://media.giphy.com/media/13HgwGsXF0aiGY/giphy.gif"/></p>
        
    </body>
</html>