<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />
    </head>
    <body>
        <h1>CS490 HW7</h1>
        <h2>Image links to our class github:<br></h2>
        <a href="https://github.com/NJIT-CS490-SP21">
            <img alt="GithubLink" src="https://image.shutterstock.com/image-photo/hacker-holding-gun-while-working-260nw-625759319.jpg">
        </a>
        <h3>Click the links to hand in assigments</h3>
        <a href="https://njit.instructure.com/courses/16249/quizzes/39501">HW7 due Feb 11</a><br> 
        <a href="https://njit.instructure.com/courses/16249/quizzes/38984">Project 1 Milestone 2 due Feb 15</a>
    </body>
</html>