<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />
    </head>
    <body>
        <center>
        <a id="top"></a>
        <h2>
            <a href="https://www.youtube.com/playlist?list=PLTgnpC4juLyTn3NM7LDpY8p91dgRzA1pg">CLICK ME FOR LECTURES VIDEOS</a>
            
        </h2>

        <h2>Image links to our class github:<br></h2>
        <a href="https://github.com/NJIT-CS490-SP21">
            <img alt="GithubLink" src="https://image.shutterstock.com/image-photo/hacker-holding-gun-while-working-260nw-625759319.jpg">
        </a>
        <h3>Click the links to hand in assigments</h3>
        <a href="https://njit.instructure.com/courses/16249/quizzes/39501">HW7 due Feb 11</a><br> 
        <a href="https://njit.instructure.com/courses/16249/quizzes/38984">Project 1 Milestone 2 due Feb 15</a>
        <form method="post" action="/">
            <input type="text" name="student">
            <button type="submit" name="student_btn">Submit</button>
        </form>
        {% for student in student_lst %}
            <p>{{student}}  your name in reverse is {{reverseName}}</p>
        {% endfor %}
        <p>In our class, so far we have completed Milestone 1!</p>
        <h1>The superbowl was boring this year!</h1>
        <p>Section: 004</p>
        <img src= "https://eng-stage.stanford.edu/sites/default/files/styles/full_width_banner_tall/public/chalkboard_web.jpg?itok=1NcgB0xq"/>
        {% if ifconfig %}
                <h2>
                    Your public IP address is: {{ ifconfig.ip }} and your ISP says you live
                    in {{ ifconfig.city }}!
                </h2>
        {% endif %}
        <p><b>Random number between 0 and 1000:</b> {{ random_number }}</p>
        <a href="https://www.w3schools.com/html/html_basic.asp">click here to learn some HTML</a>
        
        <h2>Zoom image links to zoom meeting link!</h2>
        <a href="https://zoom.us/j/91261734192?pwd=ZVRDL2J3MVZzQ1E2aDVvZjVnQWRQUT09">
            <img alt="Zoom Link" src="https://cdn.fastly.picmonkey.com/content4/previews/social/social_73_550.png">
        </a>
        
        <h2><img class="mario" src= "https://i.redd.it/dkrvx5rcp7g61.gif"/><u>Memes and Things Below</u><img class="mario" src= "https://i.redd.it/dkrvx5rcp7g61.gif"/></h2>
        <p><img class="meme" src = "https://media.giphy.com/media/13HgwGsXF0aiGY/giphy.gif"/></p>
        <p><img class = "meme" src = "https://media.giphy.com/media/fyJxMb1JM4fAc/giphy.gif"/></p>
        <p><img class = "meme" src = "https://i.chzbgr.com/full/8944133/h126EBC4E/funny-memes-about-coding-and-programming"/></p>
        <h2>Image links to our class github:<br></h2>
        <a href="https://github.com/NJIT-CS490-SP21">
            <img alt="GithubLink" src="https://image.shutterstock.com/image-photo/hacker-holding-gun-while-working-260nw-625759319.jpg">
        </a>
        <h3>Click the links to hand in assigments</h3>
        <a href="https://njit.instructure.com/courses/16249/quizzes/39501">HW7 due Feb 11</a><br> 
        <a href="https://njit.instructure.com/courses/16249/quizzes/38984">Project 1 Milestone 2 due Feb 15</a>
        <h2>Hello class, My name is JEFF</h2>
        <p><img class = "meme" src = "https://media.giphy.com/media/fyJxMb1JM4fAc/giphy.gif"/></p>
        <p><img class="smile" src="https://www.pngfind.com/pngs/m/262-2621198_simple-emoticon-face-png-laughing-crying-emoji-transparent.png" alt="Smiley face"></p>
        <a href="https://www.youtube.com/watch?v=azFCwNjWP0g&feature=emb_title">Music to Listen to While Doing Homework!</a>
        <div class="appa"><p>Heres a picture of Appa</br><img class="appa_img" src="https://i.redd.it/uzv8dy04ww051.png" alt="Appa doing the pleading face emoji"></img></p></div>
        <div class="almost">
            <p><b>Almost there!!!</b></p>
        </div>
        <p>
            <img class="grad" src="https://i.pinimg.com/600x315/5d/c4/a0/5dc4a0007601e3edf99e28cf6a5ba270.jpg"></img>
        </p>
        <p align="center">
        <a id="top"></a>
        <br>
        <video align="center" width="320" height="240" controls>
            <source src="https://cdn.discordapp.com/attachments/479372506478936094/744778102340714496/video0-3.mp4" type="video/mp4">
        </video>
        <br>
        <a href="#top" style="text-align:center;">Click here to get back to the top of this amazing page!</a>
        </p>
        <br>
        
        <h3>Slack Links</h3>
        <a href="https://app.slack.com/client/T01JGC4QE2J/C01JGC4QWLE" target="_blank"><button class="btn">Announcements</button></a>
        <a href="https://app.slack.com/client/T01JGC4QE2J/C01KBF0T7DJ" target="_blank"><button class="btn">Section 004</button></a>
        <a href="https://app.slack.com/client/T01JGC4QE2J/C01L7J7E61F" target="_blank"><button class="btn">Project 1</button></a>
        <a href="https://app.slack.com/client/T01JGC4QE2J/C01KC1KFUGZ" target="_blank"><button class="btn">General</button></a>
        <a href="https://app.slack.com/client/T01JGC4QE2J/C01JVADUHC4" target="_blank"><button class="btn">Random</button></a>
        
        </center>
    </body>
</html>